<html>
{{ "<!-- Header -->" | safeHTML }}
    {{ partial "header.html" . }}

    <body>

    {{ "<!-- Wrapper -->" | safeHTML }}
        <div id="wrapper">

        {{ partial "nav.html" . }}

        {{ "<!-- Main -->" | safeHTML }}
            <div id="main">
                {{ .Render "_banner" }}
									
				{{ $v := .Site.Params.paginate }}
				{{ if isset .Params "paginate" }}
					{{ $v = .Params.paginate }}
				{{ end }}
				
				{{ $paginator := .Paginate ((.Pages.ByDate.Reverse).ByParam "weight").Reverse $v }}
                <section id="two" class="spotlights">
					{{ range $paginator.Pages }}
					  {{ if .Params.list_template }}
                      	{{ .Render .Params.list_template }}
					  {{ else }}
					  	{{ .Render "_bloglist" }}
					  {{ end }}
                    {{ end }}
                </section>
				
				{{ $totalpage := $paginator.TotalPages }}
				{{ if gt $totalpage 1 }}
				{{ "<!-- pagination -->" | safeHTML }}
				<section>
					<ul class="pagination" style="float:right;margin:0 3em 4em 0">
						<li><span class="button small {{ if not $paginator.HasPrev }} disabled {{ end }}"><a class="pagelink" href="{{ if $paginator.HasPrev }}{{ $paginator.Prev.URL }}{{ end }}">前页</a></span></li>
						{{ $pg := $paginator.PageNumber }}
						
						{{ range $paginator.Pagers }}
							<li><a class="page {{ if eq .PageNumber $pg }}active{{ end }}" href="{{ .URL }}" >{{ .PageNumber }}</a></li>
						{{ end }}
						
						<li><span class="button small {{ if not $paginator.HasNext }} disabled {{ end }}"><a class="pagelink" href="{{ if $paginator.HasNext }}{{ $paginator.Next.URL }}{{ end }}">后页</a></span></li>
					</ul>
				</section>	
				{{ end }}
            </div>
            
        {{ "<!-- Footer -->" | safeHTML}}
			{{ if .Site.Params.footer.enable }}
				{{ partial "footer.html" . }}
            {{ end }}
        
        </div>

    {{ "<!-- Scripts -->" | safeHTML}}
        {{ partial "js.html" . }}
        
    </body>
</html>
